<style type="text/css">
  body {
    background-color: black;
  }

  h1 {
    color: white;
    text-align: center;
    font-family: 'Digital W00';
    font-weight: normal;
    vertical-align: middle;
    text-transform: uppercase;
  }
</style>

<h1>Today is the longest day of your life</h1>

<%= render 'form' %>

<audio autoplay="autoplay" controls="controls" class="hide">
  <source src="24.mp3" />  
</audio>
