// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity_result {
  td {
    padding: 0 !important;
  }

  .activity_image {
    padding: 10px;
    height: 140px;
    background-size: 100%;
  }

  a, a:visited {
    color: white;
    text-shadow: 1px 1px 5px black;
    text-decoration: underline;
  }

  .book_activity {
    width: 150px;
  }

  #activity_time {
    width: 150px;
  }

  .activity_description {
    padding: 10px;
  }
}
