// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity_result {
  .activity_image {
    padding: 10px;
    height: 140px;
    background-size: 100%;
  }

  .activity_title {
    color: white;
    text-shadow: 1px 1px 5px black;
  }

  .book_activity {
    width: 150px;
  }

  .time-select {
    width: 175px;
    margin-bottom: 5px;
  }
}