// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_image {
  padding: 10px;

  a, a:visited {
    color: #333;
    text-shadow: 1px 1px 5px rgba(0,0,0,0);
    text-decoration: underline;
  }
}
