// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hours {
  margin-bottom: 0;

  th {
    position: relative;
    border-top: none;

    .show-share-modal {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: white;
      text-shadow: 1px 1px 5px rgba(0,0,0,.5);
    }

    .show-share-modal:hover, .show-share-modal:active, .show-share-modal:focus {
      text-decoration: none;
      background-color: transparent;
    }

    h1 {
      font-family: 'Digital W00';
      text-transform: uppercase;
      text-shadow: 1px 1px 5px black;
      color: white;
      text-align: center;
      font-weight: normal;
    }

    .actions {
      width: 100%;
      text-align: center;
      bottom: 10px;
      position: absolute;
      margin-left: -10px;

      .btn {
        color: #333;
        box-shadow: 0 0 5px rgba(0,0,0,.5);
      }
    }
  }

  tr.warning {
    font-weight: bold;
  }
}

#mti_wfs_colophon {
  display: none !important;
}
