// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hours {
  margin-bottom: 0;

  th {
    position: relative;

    .actions {
      width: 100%;
      text-align: center;
      bottom: 10px;
      position: absolute;

      .btn {
        color: #333;
        box-shadow: 0 0 10px black;
      }
    }
  }

  h1 {
    font-family: 'Digital W00';
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;
    color: white;
    text-align: center;
  }

  tr.warning {
    font-weight: bold;
  }
}

#mti_wfs_colophon {
  display: none !important;
}
